<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.yimingyu.net.blesrv">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">
        <service android:name=".BluetoothService"/>
    </application>

</manifest>
